* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cy Grotesk;
    src: url('/assets/fonts/cy-grotesk-grand-dark.otf');
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}
.container {
    background-color: black;
    margin: 0 auto;
    width: 1980px;
}
